---
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ModelY from '../components/ModelY.astro';
import ModelS from '../components/ModelS.astro';
import ModelX from '../components/ModelX.astro';
import ExperienceTesla from '../components/ExperienceTesla.astro';
import SolarPanels from '../components/SolarPanels.astro';
import SolarRoof from '../components/SolarRoof.astro';
import Powerwall from '../components/Powerwall.astro';
import Accesories from '../components/Accesories.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title="Tesla - Daniel Moya">
	
	<LandingHeader />
	<!-- snap-y , snap-mandatory son para los scrolls de los contenedores, y no de la page -->
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth overflow-x-hidden">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModelY />
		</div>
		<div class="snap-center">
			<ModelS />
		</div>
		<div class="snap-center">
			<ModelX />
		</div>
		<div class="snap-center">
			<ExperienceTesla />
		</div>
		<div class="snap-center">
			<SolarPanels />
		</div>
		<div class="snap-center">
			<SolarRoof />
		</div>
		<div class="snap-center">
			<Powerwall />
		</div>
		<div class="snap-center">
			<Accesories />
		</div>
	</main>
</Layout>