---
import Section from "./Section.astro";

---

<Section
    title="Model Y"
    subtitle="From $36,640*"
    textSubtitle="After Federal Tax Credit & Est. Gas Savings"
    color="black"
>
    <div slot="footer">
        <div class="pb-16 lg:pb-9">
            <div class="flex flex-col gap-2 lg:flex-row lg:gap-7 justify-center items-center">
                <a
                    href="#"
                    class="bg-slate-200 opacity-75 lg:opacity-95 text-sm rounded font-medium text-black px-[92px] py-2.5 lg:py-2.5 inline-block mb-2 lg:mb-0"
                >
                    <span>Order Now</span>
                </a>
                <a
                    href="#"
                    class="bg-neutral-800 opacity-75 lg:opacity-95 text-sm rounded font-medium text-white px-[92px] py-2.5 lg:py-2.5 inline-block"
                >
                    <span>Demo Drive</span>
                </a>
            </div>
        </div>
        <div class="text-current text-xs pb-4 text-center">
            <p>
                *Price before incentives and savings is $40,240, excluding taxes and fees. Subject to change.
                <br />
                <a href="#" class="underline">Learn about est. gas savings.</a>
            </p>
        </div>
    </div>

    <img
        slot="background"
        src="/model-y.avif"
        alt="Model Y"
        class="h-full w-full object-cover object-center"
    />
</Section>