---
import Section from "./Section.astro";

---

<Section
    title="Solar Panels"
    subtitle="Schedule a Virtual Consultation"
    color="black"
    subtitleSize="small"
>
    <div slot="footer">
        <div class="pb-28 lg:pb-20">
            <div class="flex flex-col gap-2 lg:flex-row lg:gap-7 justify-center items-center">
                <a
                    href="#"
                    class="bg-slate-200 opacity-75 lg:opacity-95 text-sm rounded font-medium text-black px-[92px] py-2.5 lg:py-2.5 inline-block mb-2 lg:mb-0"
                >
                    <span>Order Now</span>
                </a>
                <a
                    href="#"
                    class="bg-neutral-800 opacity-75 lg:opacity-95 text-sm rounded font-medium text-white px-[92px] py-2.5 lg:py-2.5 inline-block"
                >
                    <span>Learn More</span>
                </a>
            </div>
        </div>
    </div>

    <img
        slot="background"
        src="/solar-panels.avif"
        alt="Model S"
        class="h-full w-full object-cover object-center"
    />
</Section>